
.container_cards_category
  padding: 12px
  grid-gap: 1rem
  @media (min-width: 600px) 
    grid-template-columns: repeat(2, 1fr)
  @media (min-width: 900px) 
    grid-template-columns: repeat(3, 1fr)
  .card_category
    background: white
    border-radius: 2px
    padding: 0%
    border-radius: 10px
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.12), 0px 2px 10px rgba(0, 0, 0, 0.12)
    img 
      border-top-left-radius: 10px
      border-top-right-radius: 10px
      width: 100%
    &__footer
      padding: 12px 12px 5px
      p 
        font-size: 14px  
.container_cards_hotel
  padding: 12px
  grid-gap: 1rem
  @media (min-width: 600px) 
    grid-template-columns: repeat(2, 1fr)
  @media (min-width: 900px) 
    grid-template-columns: repeat(3, 1fr)
  @media (min-width: 1280px) 
    grid-template-columns: repeat(5, 1fr)
  img 
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    width: 100%
  .img_actions
    position: relative
    display: flex
    grid-template-columns: repeat(2, 1fr)
    justify-content: space-between
    padding: 10px
    top: -180px
    opacity: 0
    transition: all 200ms ease-in-out;
    @media (min-width: 600px) 
      top: -130px
    @media (min-width: 900px) 
      top: -120px
    @media (min-width: 1280px) 
      top: -140px
  .img_actions_show
    opacity: 1
  