.container_cards_category {
  padding: 12px;
  grid-gap: 1rem;
}

@media (min-width: 600px) {
  .container_cards_category {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .container_cards_category {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.container_cards_category .card_category {
  background: white;
  border-radius: 2px;
  padding: 0%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.12), 0px 2px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.12), 0px 2px 10px rgba(0, 0, 0, 0.12);
}

.container_cards_category .card_category img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.container_cards_category .card_category__footer {
  padding: 12px 12px 5px;
}

.container_cards_category .card_category__footer p {
  font-size: 14px;
}

.container_cards_hotel {
  padding: 12px;
  grid-gap: 1rem;
}

@media (min-width: 600px) {
  .container_cards_hotel {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .container_cards_hotel {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .container_cards_hotel {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

.container_cards_hotel img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.container_cards_hotel .img_actions {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  top: -180px;
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

@media (min-width: 600px) {
  .container_cards_hotel .img_actions {
    top: -130px;
  }
}

@media (min-width: 900px) {
  .container_cards_hotel .img_actions {
    top: -120px;
  }
}

@media (min-width: 1280px) {
  .container_cards_hotel .img_actions {
    top: -140px;
  }
}

.container_cards_hotel .img_actions_show {
  opacity: 1;
}

.container {
  position: relative;
  display: -ms-grid;
  display: grid;
}

body {
  background: #f2f2f2;
}
/*# sourceMappingURL=main.css.map */